@import '../../../../mixins.scss';

.personal-info {
    p,h3 {
        color:$mainBlackColor;
    }
    .personal-details-wrapper{
        padding: 20px;
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        grid-column-gap: 20px;
        .personal-details {
            .user-avatar {
                cursor: pointer;
                padding-bottom: 30px;
                margin: 0 auto;
                background-size: contain;
                width: 90%;
            }
    
            .name-wrapper {
               text-align: center;
            }
        }

    }

}