.post-input-wrapper {
    .new-message-wrapper {
        #newMessage {
            background-color: #f7f7f9;
            border: 3px solid transparent;
            padding: 12px 24px;
            &:focus {
                color: #55595c;
                background-color: #f7f7f9;
                border-color: #c6c6c6;;
                outline: 0;
                transition: 0.5s;
            }
        }
    }
}

